<h1>mypage</h1>


---------------footer----------------- <br>

<%= link_to 'select', maps_select_path %> <br>

<%= link_to 'new', new_map_path %> <br>

<%= link_to 'mypage', maps_mypage_path %> <br>

